$color1 : #239187;
.myp{
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.inner-component{
    position: absolute;
    left: 80px;
    top: 160px;

    z-index: 2;
}

.anchor
{
    height: 27px;
    justify-content: center;
    text-align: center;
    padding-top: 0px;
    
}

.left-content
{
   color: white;
    h2
    {
        font-size: 38px;
    }
   
    
}
